<!-- Youwei Ma -->

<main role="main" class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-sm-6">
          <h2>All transactions</h2>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th>Amount</th>
                  <th>Transaction Date</th>
                  <th>Category</th>
                </tr>
              </thead>
              <tbody>
                <% expenses.forEach(function(expense){ %>
                <tr>
                  <td><%= expense.Amount %></td>
                  
                  <td><%= expense.Category %> </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
            <!-- <a class="btn btn-lg btn-primary" href="/manage" role="button">Back &raquo;</a> -->
          </div>
        </div>
      </div>
    </div>
  </main>