<!-- Youwei Ma -->
<!-- Admin Login -->

<% include _header %>

<div class="container p-5">
   <!-- Alert -->
   <% errors.forEach(function(error) { %>
   <div class="alert alert-danger" role="alert">
      <%= error %>
   </div>
   <% }) %>
   <% infos.forEach(function(info) { %>
   <div class="alert alert-info" role="alert">
      <%= info %>
   </div>
   <% }) %>

   <!-- Login -->
   <div class="row justify-content-center">

      <div id="login_box" class="card text-center">
         <div class="card-header">
            Admin Login
         </div>
         <div class="container-lg card-body">
            <form action="/login_admin" method="post">
               <div class="row justify-content-center p-2">
                  <div class="col-md-3">
                     <p class="card-text text-right">Adminname:</p>
                  </div>
                  <div class="col-md-4">
                     <input name="username" type="text" class="form-control" placeholder="Adminname" required>
                  </div>
               </div>
               <div class="row justify-content-center p-2">
                  <div class="col-md-3">
                     <p class="card-text text-right">Password:</p>
                  </div>
                  <div class="col-md-4">
                     <input name="password" type="password" class="form-control" placeholder="password" required>
                  </div>
               </div>
               <div class="row justify-content-center p-2">
                  <div class="col-md-3">
                     <input type="submit" value="Login" class="btn btn-warning btn-block">
                  </div>
               </div>
            </form>
         </div>
      </div>

   </div>

</div>

<% include _footer %>