<!-- Youwei Ma -->
<!-- User sign up -->

<% include _header %>

<div class="container p-5">

   <!-- Alert -->
   <% errors.forEach(function(error) { %>
   <div class="alert alert-danger" role="alert">
      <%= error %>
   </div>
   <% }) %>
   <% infos.forEach(function(info) { %>
   <div class="alert alert-info" role="alert">
      <%= info %>
   </div>
   <% }) %>

   <!-- Sign up -->
   <div class="row justify-content-center">
      <div id="signup_box" class="card text-center">
         <div class="card-header bg-light p-5">
            <a class="navbar-brand" href="/">
               <img src="https://cdn.glitch.com/90d28b33-758e-4148-bcb9-41c01bc3ce2e%2Ficon_2.png?v=1587524662675"
                  alt="logo" class="d-inline-block align-top" width="70px" height="70px">
               <h1 class="display-4 d-inline-block text-dark">ReserveFund</h1>
            </a>
         </div>
         <div class="container-lg card-body">
            <p id="signup_box_title">Sign up</p>
            <form action="/signup" method="post">
               <div class="row justify-content-center p-2">
                  <div class="col-md-5">
                     <p class="card-text text-right">Username:</p>
                  </div>
                  <div class="col-md-5">
                     <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
                  </div>
               </div>
               <div class="row justify-content-center p-2">
                  <div class="col-md-5">
                     <p class="card-text text-right">Email:</p>
                  </div>
                  <div class="col-md-5">
                     <input name="email" type="email" class="form-control" placeholder="example@address" required>
                  </div>
               </div>
               <div class="row justify-content-center p-2">
                  <div class="col-md-5">
                     <p class="card-text text-right">Password:</p>
                  </div>
                  <div class="col-md-5">
                     <input name="password" type="password" class="form-control" data-toggle="tooltip"
                        data-placement="right" title="The min length is 8, and it must include uppercase, lowercase letters and digits. No spaces are allowed." placeholder="Password" required>
                  </div>
               </div>
               <div class="row justify-content-center p-2">
                  <div class="col-md-5">
                     <p class="card-text text-right">Confirm password:</p>
                  </div>
                  <div class="col-md-5">
                     <input name="password_cfm" type="password" class="form-control" placeholder="Confirm Password" required>
                  </div>
               </div>
               <div class="row justify-content-center p-2">
                  <div class="col-md-5">
                     <p class="card-text text-right">*Monthly Expense-Limit:</p>
                  </div>
                  <div class="col-md-5">
                     <input name="limit" type="number" class="form-control" min="0" placeholder="0">
                  </div>
               </div>

               <div class="row justify-content-center p-2">
                  <div class="col-md-3">
                     <input type="submit" value="Sign up" class="btn btn-warning btn-block">
                  </div>
               </div>
            </form>
         </div>
         <div class="card-footer">
            <p>Already have an account? <a href="/login">Sign me in</a>.</p>
         </div>
      </div>
   </div>

</div>

<script>
   $(function () {
      $('[data-toggle="tooltip"]').tooltip();
   });
</script>

<% include _footer %>